<div class="container">
    <div class="col-md-12 row">
        <div class="col-md-6">
        <img class='col-md-12 mt-5 mobileview' src="../../assets/PngItem_6214893.png" alt="">
    </div>
        <div class="col-md-6 mt-5 fullscreen text-center text-white">
            <h1>Need to go on a trip ? You've come to the right place.</h1>
            <h4 class="mt-5">We have trips available from Potchefstroom to Cape Town and back. See if you can find your destination on the route.</h4>
            <button class="btn btn-warning mt-3 mb-3" type="button" routerLink='bookings'><h5>Book My Ride</h5></button>
        </div>
    </div>
</div>
