<div class="container">
    <div class="row">
    <div class="col-md-6 mt-5">
        <div class="map">
            <iframe src="https://maps.google.com/maps?q=potchefstroom&t=&z=13&ie=UTF8&iwloc=&output=embed"
                height="500px" width='100%' frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6 text-center text-white mt-5">
        <h1 class="title col-md-12">Contact Us</h1>
        <div class="col-md-12 mt-5">
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col-md-12 mt-5">
            <input type="number" class="form-control" placeholder="Contact Number">
        </div>
        <div class="col-md-12 mt-5">
            <textarea type="text" rows='5' class="form-control" placeholder="Message..."></textarea>
        </div>
        <div class="col-md-12 mt-5 mb-5">
            <button class="btn btn-primary">Request Call Back</button>
        </div>
    </div>
</div>
</div>